body, html {
    height: 100%;
    position: relative;
}

.bottom-nav {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}

.tab {
	padding: 5px;
}

.gradient {
	background: rgb(110,198,179); 
	background: -moz-linear-gradient(20deg,  rgb(74, 226, 184) 0%, rgb(18, 199, 208) 50%, rgba(16,186,210,1) 80%, rgba(36,187,210,1) 100%); 
	background: -webkit-linear-gradient(20deg,  rgb(74, 226, 184) 0%,rgb(18, 199, 208) 50%,rgba(16,186,210,1) 80%,rgba(36,187,210,1) 100%); 
	background: linear-gradient(20deg,  rgb(74, 226, 184) 0%,rgb(18, 199, 208) 50%,rgba(16,186,210,1) 80%,rgba(36,187,210,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ec6b3', endColorstr='#24bbd2',GradientType=1 ); 
}


.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.fade-enter {
  opacity: 0;
  top: 100px;
}
.fade-enter-active {
  top: 0px;
  opacity: 1.0;
  transition: .45s ease-in all;
}

.fade-leave {
  top: 0px;
  opacity: 1.0;
}
.fade-leave-active {
  bottom: 100px;
  opacity: 0;
  transition: .4s ease-in all;
}

.no-scroll {
  overflow: hidden;
}



